.section-title {
  font-size: 9rem;
  margin-bottom: 3.5rem;
}

.section-paragraph {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.Abore_Cahee_magna_aliqua__Ut_enim_ad_minim_veni {
  font-size: 17px;
  font-family: 'Raleway';
  color: rgb(255, 255, 255);
  line-height: 1.588;
  text-align: left;
  position: absolute;
  left: 834.893px;
  top: 1305.771px;
  width: 499px;
  height: 188px;
  z-index: 150;
}
