.header {
  min-height: 100vh;
  background-image: url(../img/hero_background.png);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-items: center;
  align-items: center;

  &__navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
    }
  }
  &__nav-item {
    margin-left: 2rem;

    a:link,
    a:active,
    a:visited {
      color: $color-font-primary;
      text-decoration: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: bolder;
    }
  }

  &__text-container {
    margin: 0;
    max-width: 50%;
  }

  &__title {
    font-size: 6rem;
    font-weight: bolder;
    margin-bottom: 3.5rem;
  }

  &__paragraph {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
  }
}
