.section-contact {
  background-image: url(../img/footer-background.png);
  background-size: cover;
  background-position: center;
  padding-top: $padding-big;

  &__paragraph {
    max-width: 33%;
    text-align: center;
    margin-bottom: $margin-medium;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $margin-big;
  }
  &__row {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
  }

  &__form-item {
    font-family: 'Raleway';
    color: $color-font-secondary;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.6rem;
    margin-bottom: $margin-small;
    border: none;
    background-color: rgba($color-form-input-background, 0.5);

    &::placeholder {
      color: $color-font-secondary;
      font-weight: normal;
    }

    &:active,
    &:focus {
      background-color: rgba($color-form-input-background, 0.9);
    }

    &:before {
    }
  }

  &__contact-info-container {
    flex: 0 1 45%;
  }

  &__contact-info-title {
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__contact-info-paragraph {
    font-size: 1.7rem;
  }
}
