.section-about {
  background-color: $color-section-about;
  color: $color-font-secondary;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-big;
    padding-bottom: $padding-big;
  }

  &__text-container {
    flex: 0 0 50%;
  }

  &__image {
    flex: 0 0 50%;
  }
}
