.section-about {
  background-color: $color-section-about;
  color: $color-font-secondary;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
  }

  &__text-container {
    flex: 0 1 45%;
  }

  &__image-container {
    flex: 0 1 45%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
