.section-about {
  background-color: $color-section-about;
  color: $color-font-secondary;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  &__text-container {
    flex: 0 0 50%;
  }

  &__image {
    flex: 0 0 50%;
  }
}
.About_Us {
  font-size: 90px;
  font-family: 'Raleway';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.3;
  position: absolute;
  left: 832.879px;
  top: 1200px;
  z-index: 149;
}
