.section-blog {
  background-color: $color-section-blog;
  padding-top: $padding-big;
  padding-bottom: $padding-big;
  color: $color-font-secondary;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__calendar-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $padding-big;
  }
}
