.btn {
  box-sizing: border-box;
  
  &:visited,
  &:active,
  &:link {
    font-size: 2rem;
    color: $color-font-secondary;
    background-color: $color-btn-orange;
    padding: 2rem 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.3);
  }

  &--blue {
    &:visited,
    &:active,
    &:link {
      background-color: $color-btn-blue;
    }
  }

  &--green {
    &:visited,
    &:active,
    &:link {
      background-color: $color-btn-green;
    }
  }

  &--red {
    &:visited,
    &:active,
    &:link {
      background-color: #f72b3b;
    }
  }

  &--wide {
    &:visited,
    &:active,
    &:link {
      padding: 2rem 4rem;
    }
  }
}
