.calendar-card {
  background-image: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.2)),
    url(../img/calendar-card-background-1.png);
  background-size: cover;
  background-position: center;
  flex: 1 0 25%;
  padding: 4rem;
  position: relative;
  min-width: 30rem;
  width: 100%;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-bottom: (30 / 37) * 100%;
  }

  &__date-container {
    background-color: rgba(#000, 0.5);
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;

    &--month {
      font-size: 2.1rem;
      text-transform: uppercase;
    }
    &--day {
      font-size: 3.2rem;
    }
  }

  &__text-container {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
