$color-font-primary: #262626;
$color-font-secondary: #fff;
$color-btn-orange: #ff6033;
$color-btn-blue: #5585a2;
$color-btn-green: #96b92c;
$color-section-about: #00bcbc;
$color-section-services: #70bfff;
$color-section-gallery: #ffe92f;
$color-section-blog: #b07cf7;

$padding-big: 8rem;
